# ğŸš© Seriesì— ëŒ€í•´ì„œ
## ì£¼ìš” í† í”½
1. Pandas Series Basics
2. ì¸ë±ì‹±
3. ì •ë ¬ê³¼ í•„í„°ë§
4. ì—°ì‚°ê³¼ ì§‘ê³„
5. ê²°ì¸¡ê°’ ì²˜ë¦¬
6. ì»¤ìŠ¤í…€ í•¨ìˆ˜ ì ìš©
## ëª©í‘œ
- Seriesì™€ ë„˜íŒŒì´ ë°°ì—´ì˜ ê´€ê³„ ì´í•´í•˜ê¸°
- Seriesì˜ loc, iloc ë©”ì„œë“œ ì‚¬ìš©í•´ì„œ ê°’ ì¡°íšŒí•˜ê¸°
- Seriesì˜ ì •ë ¬/í•„í„°ë§/ì§‘ê³„ ê¸°ëŠ¥ ì‚¬ìš©í•˜ê¸°
- Seriesì— ì¡°ê±´ë¶€ ë¡œì§ì„ ì‚¬ìš©í•˜ëŠ” ì»¤ìŠ¤í…€ í•¨ìˆ˜ ì ìš©í•˜ê¸°

In [1]:
import numpy as np
import pandas as pd

## 1. Seriesë€?
- ë„˜íŒŒì´ ë°°ì—´ì— ê¸°ë°˜í•œ íŒë‹¤ìŠ¤ ìë£Œêµ¬ì¡°ì´ë‹¤.
- 2ê°œ ì´ìƒì˜ Seriesê°€ ëª¨ì´ë©´ ë°ì´í„°í”„ë ˆì„ì„ êµ¬ì„±í•œë‹¤.
- ë°˜ë“œì‹œ 1ì°¨ì› ë°°ì—´ í˜•íƒœì—¬ì•¼ í•œë‹¤.
### > ì†ì„±
1. values (Seriesì˜ ë°ì´í„°)
2. index (Seriesì˜ ì¸ë±ìŠ¤)
3. name (ë°ì´í„°í”„ë ˆì„ ì—´ì— ì ‘ê·¼í•  ë•Œ ìœ ìš©)
4. dtype (values arrayì— ë“¤ì–´ìˆëŠ” ë°ì´í„°ë“¤ì˜ íƒ€ì…)

In [2]:
sales = [0, 5, 155, 0, 518, 0, 1827]
sales_series = pd.Series(sales, name='Sales')
sales_series

0       0
1       5
2     155
3       0
4     518
5       0
6    1827
Name: Sales, dtype: int64

In [3]:
# ì†ì„±
print('values: ', sales_series.values)
print('index: ', sales_series.index)
print('name: ', sales_series.name)
print('dtype: ', sales_series.dtype)

values:  [   0    5  155    0  518    0 1827]
index:  RangeIndex(start=0, stop=7, step=1)
name:  Sales
dtype:  int64

## 2. íŒë‹¤ìŠ¤ ë°ì´í„° íƒ€ì…
### > Numeric
1. boolean - Nullable boolean True(1)/False(0)
2. Int64(ë””í´íŠ¸) - Nullable whole numbers
3. Float64(ë””í´íŠ¸) - Nullable decimal numbers
### > Object/Text
1. string
2. category - 
### > Time Series
1. datetime64 - Single moment in time
2. timedelta - Duration between two dates or times
3. period - Span of time

## 3. Series ì¸ë±ì‹±
### > ì¼ë°˜ì ì¸ ì¸ë±ì‹±
- íŒŒì´ì¬ ë¦¬ìŠ¤íŠ¸ì™€ ë„˜íŒŒì´ì‹ ì¸ë±ì‹±/ìŠ¬ë¼ì´ì‹±ì„ í†µí•´ ê°’ì— ëŒ€í•œ ì ‘ê·¼ì´ ê°€ëŠ¥í•˜ë‹¤
### > ì»¤ìŠ¤í…€ ì¸ë±ì‹±
- Seriesë¥¼ ìƒì„±í•˜ë©´ì„œ index ë§¤ê°œë³€ìˆ˜ë¥¼ ì‚¬ìš©í•˜ëŠ” ë°©ë²•ì´ë‹¤
- âœ… ë¬¸ìì—´ ì¸ë±ìŠ¤ì¸ ê²½ìš° ìŠ¬ë¼ì´ì‹± ë²”ìœ„ìƒ ëì ì„ í¬í•¨í•œë‹¤
- âœ… datetimes ì‚¬ìš©í•  ë•Œ ìœ ìš©í•˜ë‹¤

In [4]:
# ì»¤ìŠ¤í…€ ì¸ë±ì‹±
sales = [0, 5, 155, 0, 518]
items = ['coffee', 'banana', 'tea', 'coconut', 'sugar']

# sales_series = pd.Series(sales, name='Sales')
# sales_series.index = items
# sales_series

sales_series = pd.Series(sales, index=items, name='Sales')
sales_series

coffee       0
banana       5
tea        155
coconut      0
sugar      518
Name: Sales, dtype: int64

In [5]:
# ì»¤ìŠ¤í…€ ì¸ë±ì‹±
sales_series['banana':'coconut']

banana       5
tea        155
coconut      0
Name: Sales, dtype: int64

### > iloc ì ‘ê·¼ì
- ëŒ€ìƒê°’ì´ ìœ„ì¹˜í•˜ê³  ìˆëŠ” ì¸ë±ìŠ¤ë¥¼ ì‚¬ìš©í•´ ê°’ì— ëŒ€í•œ ì ‘ê·¼ì´ ê°€ëŠ¥í•˜ë‹¤
    - access values by their positional index
    - ì»¤ìŠ¤í…€ ì¸ë±ìŠ¤ë¥¼ ì„¤ì •í•˜ë”ë¼ë„ ì‚¬ìš©ì´ ê°€ëŠ¥í•˜ë‹¤
    - ìŠ¬ë¼ì´ì‹± ë³´ë‹¤ íš¨ìœ¨ì ì´ë©° íŒë‹¤ìŠ¤ ê°œë°œìë“¤ì´ ê¶Œì¥í•˜ëŠ” ë°©ë²•ì´ë‹¤
- loc ì ‘ê·¼ìë³´ë‹¤ëŠ” ëœ ìì£¼ ì‚¬ìš©í•œë‹¤.

In [6]:
my_series = pd.Series(
    [0, 1, 2, 3, 4], index=['day 0', 'day 1', 'day 2', 'day 3', 'day 4']
)
my_series

day 0    0
day 1    1
day 2    2
day 3    3
day 4    4
dtype: int64

In [7]:
my_series.iloc[2]

2

In [8]:
my_series.iloc[[1, 4]]

day 1    1
day 4    4
dtype: int64

In [9]:
my_series.iloc[1:]

day 1    1
day 2    2
day 3    3
day 4    4
dtype: int64

### > loc ì ‘ê·¼ì
- ì»¤ìŠ¤í…€ ë ˆì´ë¸”ì„ ì‚¬ìš©í•´ ê°’ì— ëŒ€í•œ ì ‘ê·¼ì´ ê°€ëŠ¥í•˜ë‹¤
    - Label-base (NOT positional index)
- iloc ì ‘ê·¼ìë³´ë‹¤ ìì£¼ ì‚¬ìš©í•œë‹¤

In [10]:
my_series = pd.Series(
    [0, 1, 2, 3, 4], index=['day 0', 'day 1', 'day 2', 'day 3', 'day 4']
)
my_series

day 0    0
day 1    1
day 2    2
day 3    3
day 4    4
dtype: int64

In [11]:
my_series.loc['day 2']

2

In [12]:
# ì–‘ë ë²”ìœ„ë¥¼ í¬í•¨
my_series.loc['day 1':'day 3']

day 1    1
day 2    2
day 3    3
dtype: int64

### > ì¤‘ë³µ ì¸ë±ìŠ¤
- íŒë‹¤ìŠ¤ Seriesë‚˜ DataFrameì€ ì¤‘ë³µ ì¸ë±ìŠ¤ë¥¼ ê°€ì§ˆ ìˆ˜ ìˆë‹¤
    - loc ì ‘ê·¼ìë¡œ ì¤‘ë³µ ì¸ë±ìŠ¤ë¥¼ ì‚¬ìš©í•˜ë©´ ì¤‘ë³µë˜ëŠ” ê°’ë“¤ì— ëŒ€í•´ ëª¨ë‘ ì ‘ê·¼í•œë‹¤
    - Which is NOT desirable â†’ ê³ ìœ  ì¸ë±ìŠ¤ë¥¼ ê°–ë„ë¡ ì„¤ì •í•´ì•¼ í•œë‹¤
    - Must have unique row identifier
### > ì¸ë±ìŠ¤ ì¬ì„¤ì •
- reset_index ë©”ì„œë“œ (ë””í´íŠ¸ë¡œ ë¦¬ì…‹ ì „ ì¸ë±ìŠ¤ëŠ” ë°ì´í„°í”„ë ˆì„ì˜ ìƒˆë¡œìš´ ì»¬ëŸ¼ì´ ëœë‹¤)
- ì›ë³¸ Seriesë¥¼ ë³€ê²½í•˜ì§€ ì•ŠëŠ”ë‹¤

In [13]:
my_series = pd.Series(
    [0, 1, 2, 3, 4],
    index=['day 0', 'day 0', 'day 0', 'day 2', 'day 2']
)
my_series.index

Index(['day 0', 'day 0', 'day 0', 'day 2', 'day 2'], dtype='object')

In [14]:
my_series.loc['day 0']

day 0    0
day 0    1
day 0    2
dtype: int64

In [15]:
my_series.loc['day 2']

day 2    3
day 2    4
dtype: int64

In [16]:
# ê¸°ì¡´ ì¸ë±ìŠ¤ ì—´ì´ ë°ì´í„°í”„ë ˆì„ì˜ ìƒˆë¡œìš´ ì—´ì„ êµ¬ì„±í•œë‹¤.
my_series.reset_index()

   index  0
0  day 0  0
1  day 0  1
2  day 0  2
3  day 2  3
4  day 2  4

In [17]:
my_series.reset_index(drop=True)

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [18]:
my_series.reset_index(drop=True).iloc[2:4]

2    2
3    3
dtype: int64

In [19]:
# iloc ì ‘ê·¼ìì™€ì˜ ì°¨ì´ì  (ëì ì„ í¬í•¨í•œë‹¤)
my_series.reset_index(drop=True).loc[2:4]

2    2
3    3
4    4
dtype: int64

## 4. Series í•„í„°ë§
### > loc ì ‘ê·¼ì
- ë¹„êµì—°ì‚°ìë¥¼ í•¨ê»˜ ì‚¬ìš©í•˜ë©´ Seriesë¥¼ í•„í„°ë§ í•  ìˆ˜ ìˆë‹¤
    - âœ… ì—°ì‚°ìë¥¼ ì‚¬ìš©í•˜ë©´ ë¶ˆë¦¬ì–¸ ë°°ì—´ì„ ë¦¬í„´í•œë‹¤
### > isin
- âœ… ë¶ˆë¦¬ì–¸ ë°°ì—´ì„ ë¦¬í„´í•œë‹¤
    - in: .isin()
    - not in: ~.isin()
- Seriesì— ëŒ€í•´ì„œ in, not in ì—°ì‚°ìëŠ” ì‚¬ìš©ì´ ë¶ˆê°€ëŠ¥í•˜ë‹¤

In [20]:
my_series = pd.Series(
    [0, 1, 2, 3, 4], index=['day 0', 'day 1', 'day 2', 'day 3', 'day 4']
)
my_series

day 0    0
day 1    1
day 2    2
day 3    3
day 4    4
dtype: int64

In [21]:
my_series == 2

day 0    False
day 1    False
day 2     True
day 3    False
day 4    False
dtype: bool

In [22]:
my_series.loc[my_series > 2]

day 3    3
day 4    4
dtype: int64

In [23]:
my_series.loc[my_series == 2]

day 2    2
dtype: int64

In [24]:
my_series.loc[~(my_series != 2)]

day 2    2
dtype: int64

In [25]:
my_series.loc[my_series.isin([1, 2])]

day 1    1
day 2    2
dtype: int64

In [26]:
my_series.loc[~my_series.isin([1, 2])]

day 0    0
day 3    3
day 4    4
dtype: int64

## 5. Series ì •ë ¬
- 2ê°€ì§€ ì •ë ¬ ê¸°ì¤€
    1. by ê°’ (sort_values ë©”ì„œë“œ)
    2. by ì¸ë±ìŠ¤ (sort_index ë©”ì„œë“œ)
- ì›ë³¸ Seriesë¥¼ ë³€ê²½í•˜ì§€ ì•ŠëŠ”ë‹¤

In [27]:
my_series = pd.Series(
    [1, 0, 2, 3, 4], index=['day 0', 'day 1', 'day 2', 'day 3', 'day 4']
)
my_series

day 0    1
day 1    0
day 2    2
day 3    3
day 4    4
dtype: int64

In [28]:
my_series.sort_values()

day 1    0
day 0    1
day 2    2
day 3    3
day 4    4
dtype: int64

In [29]:
my_series = my_series.sort_values(ascending=False)
my_series

day 4    4
day 3    3
day 2    2
day 0    1
day 1    0
dtype: int64

In [30]:
my_series

day 4    4
day 3    3
day 2    2
day 0    1
day 1    0
dtype: int64

In [31]:
my_series.sort_index()

day 0    1
day 1    0
day 2    2
day 3    3
day 4    4
dtype: int64

In [32]:
my_series.sort_index(ascending=False)

day 4    4
day 3    3
day 2    2
day 1    0
day 0    1
dtype: int64

## 6. Series ì—°ì‚°
### > ìˆ˜í•™ ì—°ì‚°
- Numeric Operation
- ì‚¬ì¹™ì—°ì‚°(+, -, /, *), ëª«(//), ë‚˜ë¨¸ì§€(%), ì§€ìˆ˜(**)

In [33]:
my_series = pd.Series(
    [1, np.NaN, 2, 3, 4], index=['day 0', 'day 1', 'day 2', 'day 3', 'day 4']
)
my_series

day 0    1.0
day 1    NaN
day 2    2.0
day 3    3.0
day 4    4.0
dtype: float64

In [34]:
my_series + 1

day 0    2.0
day 1    NaN
day 2    3.0
day 3    4.0
day 4    5.0
dtype: float64

In [35]:
my_series2 = my_series.add(1, fill_value=0).astype('int')
my_series2

day 0    2
day 1    1
day 2    3
day 3    4
day 4    5
dtype: int64

### > Text Series ì—°ì‚°
- str ì ‘ê·¼ìë¥¼ í†µí•´ ë¬¸ìì—´ ë©”ì„œë“œë¥¼ ì‚¬ìš©í•  ìˆ˜ ìˆë‹¤
- ë©”ì„œë“œ ì¢…ë¥˜
    - strip, lstrip, rstrip
    - upper, lower
    - slice
    - count
    - contains
    - replace
    - split
    - len
    - startswith, endswith
- âœ… Pro Tips
    1. contains ë©”ì„œë“œë¥¼ í†µí•´ íŠ¹ì • ë¬¸ìì—´ì„ ê²€ìƒ‰í•˜ëŠ” ê²½ìš°
        - ì‚¬ì „ì— ëª¨ë“  ë¬¸ìì—´ì„ ì†Œë¬¸ìí™” í˜¹ì€ ëŒ€ë¬¸ìí™” í•´ë†“ëŠ”ë‹¤

In [36]:
str_series = pd.Series(['day 0', 'day 1', 'day 2', 'day 3', 'day 4'])
str_series

0    day 0
1    day 1
2    day 2
3    day 3
4    day 4
dtype: object

In [37]:
str_series.str.upper()

0    DAY 0
1    DAY 1
2    DAY 2
3    DAY 3
4    DAY 4
dtype: object

In [38]:
str_series.str.upper().str.contains('day 1')

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [39]:
str_series.str.upper().str.contains('DAY 1')

0    False
1     True
2    False
3    False
4    False
dtype: bool

In [40]:
str_series.str.strip('day ').astype('int')

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [41]:
# strip ë©”ì„œë“œë³´ë‹¤ ìŠ¬ë¼ì´ì‹±ì„ ì‚¬ìš©
str_series.str[-1].astype('int')

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [42]:
str_series.str[1:3]

0    ay
1    ay
2    ay
3    ay
4    ay
dtype: object

In [43]:
str_series.str.split(' ')

0    [day, 0]
1    [day, 1]
2    [day, 2]
3    [day, 3]
4    [day, 4]
dtype: object

In [44]:
str_series.str.split(' ', expand=True)

     0  1
0  day  0
1  day  1
2  day  2
3  day  3
4  day  4

## 7. Series ì¢…ë¥˜ë³„ ì§‘ê³„ ì—°ì‚°
### > ìˆ«ì íƒ€ì… Series
- ë©”ì„œë“œ ì¢…ë¥˜
    - count
    - first, last
    - mean, median, min, max, argmax, argmin, std, var, mad
    - prod, sum, quantile

In [45]:
transactions = pd.read_csv('./data/retail/transactions.csv')
transactions_series = pd.Series(transactions['transactions'])

transactions_series.iloc[:5]

0     770
1    2111
2    2358
3    3487
4    1922
Name: transactions, dtype: int64

In [46]:
# interpolation ì˜µì…˜ì„ ì§€ì •í•˜ë©´ ì‹¤ì œ ë°ì´í„° ì¤‘ì—ì„œ ë¦¬í„´
transactions_series.iloc[:5].quantile([.4], interpolation='nearest')

0.4    2111
Name: transactions, dtype: int64

In [47]:
transactions_series.count()

83488

In [48]:
transactions_series.sum()

141478945

### > ë²”ì£¼í˜• íƒ€ì… Series
- ë©”ì„œë“œ ì¢…ë¥˜
    - unique, nunique, value_counts

In [49]:
series = pd.Series(['day 0', 'day 0', 'day 2', 'day 2', 'day 4'])
series

0    day 0
1    day 0
2    day 2
3    day 2
4    day 4
dtype: object

In [50]:
series.nunique()

3

In [51]:
series.unique()

array(['day 0', 'day 2', 'day 4'], dtype=object)

In [52]:
type(series.unique())

numpy.ndarray

In [53]:
series.value_counts()

day 0    2
day 2    2
day 4    1
dtype: int64

In [54]:
series.value_counts(normalize=True)

day 0    0.4
day 2    0.4
day 4    0.2
dtype: float64

## 8. Series ê²°ì¸¡ê°’
### > Numpy NaN
- íŒŒì´ì¬ Noneë³´ë‹¤ íš¨ìœ¨ì ì´ë‹¤
- íŒë‹¤ìŠ¤ëŠ” NaNì„ floatìœ¼ë¡œ ì·¨ê¸‰í•œë‹¤ (ë²¡í„° ì—°ì‚°ì´ ê°€ëŠ¥í•˜ë‹¤)
### > ê²°ì¸¡ê°’ ì°¾ê¸°
- ë©”ì„œë“œ ì¢…ë¥˜
    - isna (ê²°ì¸¡ê°’ì´ë©´ True ì•„ë‹ˆë©´ Falseë¥¼ ë¦¬í„´) â†’ ë§ˆìŠ¤í‚¹
    - value_counts
        - dropna ë§¤ê°œë³€ìˆ˜ (True/False): ê²°ì¸¡ê°’ ìœ ì§€ ì—¬ë¶€
### > ê²°ì¸¡ê°’ ë‹¤ë£¨ê¸°
- ë©”ì„œë“œ ì¢…ë¥˜
    - dropna (Series, DataFrameì˜ ê²°ì¸¡ê°’ì„ ì œê±°)
    - fillna (ê²°ì¸¡ê°’ì„ íŠ¹ì •ê°’ìœ¼ë¡œ ëŒ€ì²´)
        - ìˆ«ìí˜• ë³´ë‹¤ëŠ” ë²”ì£¼í˜•/ë¬¸ì ë°ì´í„°ì™€ ì¹œí™”ì ì´ë‹¤
- ê²°ì¸¡ê°’ì„ ì–´ë–»ê²Œ ë‹¤ë£° ê²ƒì¸ê°€?
    - ì œê±°? ëŒ€ì²´?
    - ì „ì²´ ë°ì´í„° ì¤‘ ê²°ì¸¡ê°’ì˜ ê°œìˆ˜ë¥¼ ìš°ì„  íŒŒì•…!

In [55]:
my_series = pd.Series([np.NaN] * 5)
my_series

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
dtype: float64

In [56]:
my_series.isna()

0    True
1    True
2    True
3    True
4    True
dtype: bool

In [57]:
my_series.isna().sum()

5

In [58]:
my_series = pd.Series(range(5))
my_series.loc[1:2] = np.NaN
my_series

0    0.0
1    NaN
2    NaN
3    3.0
4    4.0
dtype: float64

In [59]:
my_series.isna()

0    False
1     True
2     True
3    False
4    False
dtype: bool

In [60]:
my_series.value_counts(dropna=False)

NaN    2
0.0    1
3.0    1
4.0    1
dtype: int64

In [61]:
my_series.fillna(0)

0    0.0
1    0.0
2    0.0
3    3.0
4    4.0
dtype: float64

In [62]:
my_series.fillna(my_series.mean())

0    0.000000
1    2.333333
2    2.333333
3    3.000000
4    4.000000
dtype: float64

In [63]:
my_series.dropna()

0    0.0
3    3.0
4    4.0
dtype: float64

In [64]:
my_series.dropna().reset_index(drop=True)

0    0.0
1    3.0
2    4.0
dtype: float64