In [1]:
import numpy as np
import pandas as pd

# üìö Í≥ºÏ†ú 1: Series Basics

In [2]:
oil = pd.read_csv('./data/retail/oil.csv').dropna()
oil_array = np.array(oil['dcoilwtico'].iloc[1000: 1100])
oil_array

array([52.22, 51.44, 51.98, 52.01, 52.82, 54.01, 53.8 , 53.75, 52.36,
       53.26, 53.77, 53.98, 51.95, 50.82, 52.19, 53.01, 52.36, 52.45,
       51.12, 51.39, 52.33, 52.77, 52.38, 52.14, 53.24, 53.18, 52.63,
       52.75, 53.9 , 53.55, 53.81, 53.01, 52.19, 52.37, 52.99, 53.84,
       52.96, 53.21, 53.11, 53.41, 53.41, 54.02, 53.61, 54.48, 53.99,
       54.04, 54.  , 53.82, 52.63, 53.33, 53.19, 52.68, 49.83, 48.75,
       48.05, 47.95, 47.24, 48.34, 48.3 , 48.34, 47.79, 47.02, 47.29,
       47.  , 47.3 , 47.02, 48.36, 49.47, 50.3 , 50.54, 50.25, 50.99,
       51.14, 51.69, 52.25, 53.06, 53.38, 53.12, 53.19, 52.62, 52.46,
       50.49, 50.26, 49.64, 48.9 , 49.22, 49.22, 48.96, 49.31, 48.83,
       47.65, 47.79, 45.55, 46.23, 46.46, 45.84, 47.28, 47.81, 47.83,
       48.86])

### ÌíÄÏù¥

In [3]:
oil_series = pd.Series(oil_array, name='oil_prices')

print('name: ', oil_series.name)
print('dtype: ', oil_series.dtype)
print('size: ', oil_series.size)
print('index: ', oil_series.index)

name:  oil_prices
dtype:  float64
size:  100
index:  RangeIndex(start=0, stop=100, step=1)

In [4]:
print('mean(float): ', oil_series.mean())
print('mean(int): ', oil_series.astype('int').mean())

mean(float):  51.128299999999996
mean(int):  50.66

# üìö Í≥ºÏ†ú 2: Series Í∞íÏóê ÎåÄÌïú Ï†ëÍ∑º

In [5]:
dates = np.array(oil['date'].iloc[1000:1100])
dates

array(['2016-12-20', '2016-12-21', '2016-12-22', '2016-12-23',
       '2016-12-27', '2016-12-28', '2016-12-29', '2016-12-30',
       '2017-01-03', '2017-01-04', '2017-01-05', '2017-01-06',
       '2017-01-09', '2017-01-10', '2017-01-11', '2017-01-12',
       '2017-01-13', '2017-01-17', '2017-01-18', '2017-01-19',
       '2017-01-20', '2017-01-23', '2017-01-24', '2017-01-25',
       '2017-01-26', '2017-01-27', '2017-01-30', '2017-01-31',
       '2017-02-01', '2017-02-02', '2017-02-03', '2017-02-06',
       '2017-02-07', '2017-02-08', '2017-02-09', '2017-02-10',
       '2017-02-13', '2017-02-14', '2017-02-15', '2017-02-16',
       '2017-02-17', '2017-02-21', '2017-02-22', '2017-02-23',
       '2017-02-24', '2017-02-27', '2017-02-28', '2017-03-01',
       '2017-03-02', '2017-03-03', '2017-03-06', '2017-03-07',
       '2017-03-08', '2017-03-09', '2017-03-10', '2017-03-13',
       '2017-03-14', '2017-03-15', '2017-03-16', '2017-03-17',
       '2017-03-20', '2017-03-21', '2017-03-22', '2017-03-23',
       '2017-03-24', '2017-03-27', '2017-03-28', '2017-03-29',
       '2017-03-30', '2017-03-31', '2017-04-03', '2017-04-04',
       '2017-04-05', '2017-04-06', '2017-04-07', '2017-04-10',
       '2017-04-11', '2017-04-12', '2017-04-13', '2017-04-17',
       '2017-04-18', '2017-04-19', '2017-04-20', '2017-04-21',
       '2017-04-24', '2017-04-25', '2017-04-26', '2017-04-27',
       '2017-04-28', '2017-05-01', '2017-05-02', '2017-05-03',
       '2017-05-04', '2017-05-05', '2017-05-08', '2017-05-09',
       '2017-05-10', '2017-05-11', '2017-05-12', '2017-05-15'],
      dtype=object)

In [6]:
oil_series

0     52.22
1     51.44
2     51.98
3     52.01
4     52.82
      ...
95    45.84
96    47.28
97    47.81
98    47.83
99    48.86
Name: oil_prices, Length: 100, dtype: float64

In [7]:
oil_series.index = dates
oil_series.head()

2016-12-20    52.22
2016-12-21    51.44
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
Name: oil_prices, dtype: float64

In [8]:
oil_series.iloc[:10].mean()

52.765

In [9]:
oil_series.iloc[-10:].mean()

47.13

In [10]:
oil_series.loc['2017-01-01':'2017-01-07'].reset_index(drop=True)

0    52.36
1    53.26
2    53.77
3    53.98
Name: oil_prices, dtype: float64

# üìö Í≥ºÏ†ú 3: Series ÌïÑÌÑ∞ÎßÅÍ≥º Ï†ïÎ†¨

In [11]:
# 10 Lowest Price
oil_series.sort_values().iloc[:10]

2017-05-04    45.55
2017-05-09    45.84
2017-05-05    46.23
2017-05-08    46.46
2017-03-23    47.00
2017-03-21    47.02
2017-03-27    47.02
2017-03-14    47.24
2017-05-10    47.28
2017-03-22    47.29
Name: oil_prices, dtype: float64

In [12]:
# 10 Lowest Price & Recent Date
oil_series.sort_values().iloc[:10].sort_index(ascending=False)

2017-05-10    47.28
2017-05-09    45.84
2017-05-08    46.46
2017-05-05    46.23
2017-05-04    45.55
2017-03-27    47.02
2017-03-23    47.00
2017-03-22    47.29
2017-03-21    47.02
2017-03-14    47.24
Name: oil_prices, dtype: float64

In [13]:
dates = [
    '2016-12-22',
    '2017-05-03',
    '2017-01-06',
    '2017-03-05',
    '2017-02-12',
    '2017-03-21',
    '2017-04-14',
    '2017-04-15'
]

mask = (oil_series.index.isin(dates)) & (oil_series <= 50)
oil_series.loc[mask]

2017-03-21    47.02
2017-05-03    47.79
Name: oil_prices, dtype: float64

# üìö Í≥ºÏ†ú 4: Series Ïó∞ÏÇ∞

In [14]:
# oil_series.mul(1.1).add(2)
oil_series * 1.1 + 2

2016-12-20    59.442
2016-12-21    58.584
2016-12-22    59.178
2016-12-23    59.211
2016-12-27    60.102
               ...
2017-05-09    52.424
2017-05-10    54.008
2017-05-11    54.591
2017-05-12    54.613
2017-05-15    55.746
Name: oil_prices, Length: 100, dtype: float64

In [15]:
max_price = oil_series.max()

(oil_series - max_price) / max_price

2016-12-20   -0.041483
2016-12-21   -0.055800
2016-12-22   -0.045888
2016-12-23   -0.045338
2016-12-27   -0.030470
                ...
2017-05-09   -0.158590
2017-05-10   -0.132159
2017-05-11   -0.122430
2017-05-12   -0.122063
2017-05-15   -0.103157
Name: oil_prices, Length: 100, dtype: float64

In [16]:
month = oil_series.index.str[5:7].astype('int')
pd.Series(month)

0     12
1     12
2     12
3     12
4     12
      ..
95     5
96     5
97     5
98     5
99     5
Length: 100, dtype: int64

# üìö Í≥ºÏ†ú 5: Series ÏßëÍ≥Ñ Ïó∞ÏÇ∞

In [17]:
oil_series.head(2)

2016-12-20    52.22
2016-12-21    51.44
Name: oil_prices, dtype: float64

In [18]:
oil_series[oil_series.index.str[5:7] == '03'].sum()

1134.5399999999997

In [19]:
oil_series[oil_series.index.str[5:7] == '03'].mean()

49.32782608695651

In [20]:
oil_series[oil_series.index.str[5:7].isin(['01', '02'])].count()

39

In [21]:
oil_series.quantile([.1, .9])

0.1    47.299
0.9    53.811
Name: oil_prices, dtype: float64

In [22]:
oil_series.astype('int').value_counts(normalize=True)

53    0.26
52    0.22
47    0.13
48    0.10
51    0.07
50    0.07
49    0.06
54    0.05
45    0.02
46    0.02
Name: oil_prices, dtype: float64

# üìö Í≥ºÏ†ú 6: Series Í≤∞Ï∏°Í∞í

In [23]:
oil_series = oil_series.where(~oil_series.isin([51.44, 47.83]), np.NaN)
oil_series

2016-12-20    52.22
2016-12-21      NaN
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
              ...
2017-05-09    45.84
2017-05-10    47.28
2017-05-11    47.81
2017-05-12      NaN
2017-05-15    48.86
Name: oil_prices, Length: 100, dtype: float64

In [24]:
# Í≤∞Ï∏°Í∞í Í∞úÏàò
oil_series.isna().sum()

2

In [25]:
oil_series.fillna(oil_series.median())

2016-12-20    52.220
2016-12-21    52.205
2016-12-22    51.980
2016-12-23    52.010
2016-12-27    52.820
               ...
2017-05-09    45.840
2017-05-10    47.280
2017-05-11    47.810
2017-05-12    52.205
2017-05-15    48.860
Name: oil_prices, Length: 100, dtype: float64