# ğŸš© Seriesì— ëŒ€í•´ì„œ
## ì£¼ìš” í† í”½
1. Pandas Series Basics
2. ì¸ë±ì‹±
3. ì •ë ¬ê³¼ í•„í„°ë§
4. ì—°ì‚°ê³¼ ì§‘ê³„
5. ê²°ì¸¡ê°’ ì²˜ë¦¬
6. ì»¤ìŠ¤í…€ í•¨ìˆ˜ ì ìš©
## ëª©í‘œ
- Seriesì™€ ë„˜íŒŒì´ ë°°ì—´ì˜ ê´€ê³„ ì´í•´í•˜ê¸°
- Seriesì˜ loc, iloc ë©”ì„œë“œ ì‚¬ìš©í•´ì„œ ê°’ ì¡°íšŒí•˜ê¸°
- Seriesì˜ ì •ë ¬/í•„í„°ë§/ì§‘ê³„ ê¸°ëŠ¥ ì‚¬ìš©í•˜ê¸°
- Seriesì— ì¡°ê±´ë¶€ ë¡œì§ì„ ì‚¬ìš©í•˜ëŠ” ì»¤ìŠ¤í…€ í•¨ìˆ˜ ì ìš©í•˜ê¸°

In [1]:
import numpy as np
import pandas as pd

## 1. Seriesë€?
- ë„˜íŒŒì´ ë°°ì—´ì— ê¸°ë°˜í•œ íŒë‹¤ìŠ¤ ìë£Œêµ¬ì¡°ì´ë‹¤.
- 2ê°œ ì´ìƒì˜ Seriesê°€ ëª¨ì´ë©´ ë°ì´í„°í”„ë ˆì„ì„ êµ¬ì„±í•œë‹¤.
- ë°˜ë“œì‹œ 1ì°¨ì› ë°°ì—´ í˜•íƒœì—¬ì•¼ í•œë‹¤.
### > ì†ì„±
1. values (Seriesì˜ ë°ì´í„°)
2. index (Seriesì˜ ì¸ë±ìŠ¤)
3. name (ë°ì´í„°í”„ë ˆì„ ì—´ì— ì ‘ê·¼í•  ë•Œ ìœ ìš©)
4. dtype (values arrayì— ë“¤ì–´ìˆëŠ” ë°ì´í„°ë“¤ì˜ íƒ€ì…)

In [2]:
sales = [0, 5, 155, 0, 518, 0, 1827]
sales_series = pd.Series(sales, name='Sales')
sales_series

0       0
1       5
2     155
3       0
4     518
5       0
6    1827
Name: Sales, dtype: int64

In [3]:
# ì†ì„±
print('values: ', sales_series.values)
print('index: ', sales_series.index)
print('name: ', sales_series.name)
print('dtype: ', sales_series.dtype)

values:  [   0    5  155    0  518    0 1827]
index:  RangeIndex(start=0, stop=7, step=1)
name:  Sales
dtype:  int64

## 2. íŒë‹¤ìŠ¤ ë°ì´í„° íƒ€ì…
### > Numeric
1. boolean - Nullable boolean True(1)/False(0)
2. Int64(ë””í´íŠ¸) - Nullable whole numbers
3. Float64(ë””í´íŠ¸) - Nullable decimal numbers
### > Object/Text
1. string
2. category - 
### > Time Series
1. datetime64 - Single moment in time
2. timedelta - Duration between two dates or times
3. period - Span of time

## 3. Series ì¸ë±ì‹±
### > ì¼ë°˜ì ì¸ ì¸ë±ì‹±
- íŒŒì´ì¬ ë¦¬ìŠ¤íŠ¸ì™€ ë„˜íŒŒì´ì‹ ì¸ë±ì‹±/ìŠ¬ë¼ì´ì‹±ì„ í†µí•´ ê°’ì— ëŒ€í•œ ì ‘ê·¼ì´ ê°€ëŠ¥í•˜ë‹¤
### > ì»¤ìŠ¤í…€ ì¸ë±ì‹±
- Seriesë¥¼ ìƒì„±í•˜ë©´ì„œ index ë§¤ê°œë³€ìˆ˜ë¥¼ ì‚¬ìš©í•˜ëŠ” ë°©ë²•ì´ë‹¤
- âœ… ë¬¸ìì—´ ì¸ë±ìŠ¤ì¸ ê²½ìš° ìŠ¬ë¼ì´ì‹± ë²”ìœ„ìƒ ëì ì„ í¬í•¨í•œë‹¤
- âœ… datetimes ì‚¬ìš©í•  ë•Œ ìœ ìš©í•˜ë‹¤

In [4]:
# ì»¤ìŠ¤í…€ ì¸ë±ì‹±
sales = [0, 5, 155, 0, 518]
items = ['coffee', 'banana', 'tea', 'coconut', 'sugar']

# sales_series = pd.Series(sales, name='Sales')
# sales_series.index = items
# sales_series

sales_series = pd.Series(sales, index=items, name='Sales')
sales_series

coffee       0
banana       5
tea        155
coconut      0
sugar      518
Name: Sales, dtype: int64

In [5]:
# ì»¤ìŠ¤í…€ ì¸ë±ì‹±
sales_series['banana':'coconut']

banana       5
tea        155
coconut      0
Name: Sales, dtype: int64

### > iloc ì ‘ê·¼ì
- ëŒ€ìƒê°’ì´ ìœ„ì¹˜í•˜ê³  ìˆëŠ” ì¸ë±ìŠ¤ë¥¼ ì‚¬ìš©í•´ ê°’ì— ëŒ€í•œ ì ‘ê·¼ì´ ê°€ëŠ¥í•˜ë‹¤
    - access values by their positional index
    - ì»¤ìŠ¤í…€ ì¸ë±ìŠ¤ë¥¼ ì„¤ì •í•˜ë”ë¼ë„ ì‚¬ìš©ì´ ê°€ëŠ¥í•˜ë‹¤
    - ìŠ¬ë¼ì´ì‹± ë³´ë‹¤ íš¨ìœ¨ì ì´ë©° íŒë‹¤ìŠ¤ ê°œë°œìë“¤ì´ ê¶Œì¥í•˜ëŠ” ë°©ë²•ì´ë‹¤
- loc ì ‘ê·¼ìë³´ë‹¤ëŠ” ëœ ìì£¼ ì‚¬ìš©í•œë‹¤.

In [6]:
my_series = pd.Series(
    [0, 1, 2, 3, 4], index=['day 0', 'day 1', 'day 2', 'day 3', 'day 4']
)
my_series

day 0    0
day 1    1
day 2    2
day 3    3
day 4    4
dtype: int64

In [7]:
my_series.iloc[2]

2

In [8]:
my_series.iloc[[1, 4]]

day 1    1
day 4    4
dtype: int64

In [9]:
my_series.iloc[1:]

day 1    1
day 2    2
day 3    3
day 4    4
dtype: int64

### > loc ì ‘ê·¼ì
- ì»¤ìŠ¤í…€ ë ˆì´ë¸”ì„ ì‚¬ìš©í•´ ê°’ì— ëŒ€í•œ ì ‘ê·¼ì´ ê°€ëŠ¥í•˜ë‹¤
    - Label-base (NOT positional index)
- iloc ì ‘ê·¼ìë³´ë‹¤ ìì£¼ ì‚¬ìš©í•œë‹¤

In [10]:
my_series = pd.Series(
    [0, 1, 2, 3, 4], index=['day 0', 'day 1', 'day 2', 'day 3', 'day 4']
)
my_series

day 0    0
day 1    1
day 2    2
day 3    3
day 4    4
dtype: int64

In [11]:
my_series.loc['day 2']

2

In [12]:
# ì–‘ë ë²”ìœ„ë¥¼ í¬í•¨
my_series.loc['day 1':'day 3']

day 1    1
day 2    2
day 3    3
dtype: int64

### > ì¤‘ë³µ ì¸ë±ìŠ¤
- íŒë‹¤ìŠ¤ Seriesë‚˜ DataFrameì€ ì¤‘ë³µ ì¸ë±ìŠ¤ë¥¼ ê°€ì§ˆ ìˆ˜ ìˆë‹¤
    - loc ì ‘ê·¼ìë¡œ ì¤‘ë³µ ì¸ë±ìŠ¤ë¥¼ ì‚¬ìš©í•˜ë©´ ì¤‘ë³µë˜ëŠ” ê°’ë“¤ì— ëŒ€í•´ ëª¨ë‘ ì ‘ê·¼í•œë‹¤
    - Which is NOT desirable â†’ ê³ ìœ  ì¸ë±ìŠ¤ë¥¼ ê°–ë„ë¡ ì„¤ì •í•´ì•¼ í•œë‹¤
    - Must have unique row identifier
### > ì¸ë±ìŠ¤ ì¬ì„¤ì •
- reset_index ë©”ì„œë“œ (ë””í´íŠ¸ë¡œ ë¦¬ì…‹ ì „ ì¸ë±ìŠ¤ëŠ” ë°ì´í„°í”„ë ˆì„ì˜ ìƒˆë¡œìš´ ì»¬ëŸ¼ì´ ëœë‹¤)

In [13]:
my_series = pd.Series(
    [0, 1, 2, 3, 4],
    index=['day 0', 'day 0', 'day 0', 'day 2', 'day 2']
)
my_series.index

Index(['day 0', 'day 0', 'day 0', 'day 2', 'day 2'], dtype='object')

In [14]:
my_series.loc['day 0']

day 0    0
day 0    1
day 0    2
dtype: int64

In [15]:
my_series.loc['day 2']

day 2    3
day 2    4
dtype: int64

In [16]:
# ê¸°ì¡´ ì¸ë±ìŠ¤ ì—´ì´ ë°ì´í„°í”„ë ˆì„ì˜ ìƒˆë¡œìš´ ì—´ì„ êµ¬ì„±í•œë‹¤.
my_series.reset_index()

   index  0
0  day 0  0
1  day 0  1
2  day 0  2
3  day 2  3
4  day 2  4

In [17]:
my_series.reset_index(drop=True)

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [18]:
my_series.reset_index(drop=True).iloc[2:4]

2    2
3    3
dtype: int64

In [19]:
# iloc ì ‘ê·¼ìì™€ì˜ ì°¨ì´ì  (ëì ì„ í¬í•¨í•œë‹¤)
my_series.reset_index(drop=True).loc[2:4]

2    2
3    3
4    4
dtype: int64