# üö© DataFrame Aggregation & Reshape
## Ï£ºÏöî ÌÜ†ÌîΩ
1. Grouping Columns
2. Multi-Index Dataframe
3. Aggregating Groups
4. Pivot Tables
5. Melting Dataframe
## Î™©Ìëú
1. Group Dataframes by one or more columns and calculate aggregate statistics by group
2. Learn to access multi-index dataframe and reset to return to single index
3. Create pivot table to summarize data
4. Melt wide tables of data into a long tabular form

In [1]:
import pandas as pd
import numpy as np

## 1. Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ ÏßëÍ≥Ñ
### > groupby Î©îÏÑúÎìú
- To group data, use the groupby Î©îÏÑúÎìú and specify a column to group by
    - Grouped columns becomes the index BY DEFAULT

In [2]:
league = pd.read_excel('./data/premier_league_games.xlsx')
league.head()

,id,league_name,season,HomeTeam,AwayTeam,HomeGoals,AwayGoals
0,4389,England Premier League,2015/2016,Arsenal,West Ham United,0,2
1,4390,England Premier League,2015/2016,Bournemouth,Aston Villa,0,1
2,4391,England Premier League,2015/2016,Chelsea,Swansea City,2,2
3,4392,England Premier League,2015/2016,Everton,Watford,2,2
4,4393,England Premier League,2015/2016,Leicester City,Sunderland,4,2

In [3]:
# returns Series
league.groupby('HomeTeam')['HomeGoals'].mean()

HomeTeam
Arsenal                 1.631579
Aston Villa             0.736842
Bournemouth             1.210526
Chelsea                 1.684211
Crystal Palace          1.000000
Everton                 1.842105
Leicester City          1.842105
Liverpool               1.736842
Manchester City         2.473684
Manchester United       1.421053
Newcastle United        1.684211
Norwich City            1.368421
Southampton             2.052632
Stoke City              1.157895
Sunderland              1.210526
Swansea City            1.052632
Tottenham Hotspur       1.842105
Watford                 1.052632
West Bromwich Albion    1.052632
West Ham United         1.789474
Name: HomeGoals, dtype: float64

In [4]:
# return Dataframe
league.groupby('HomeTeam')[['HomeGoals']].mean()

                      HomeGoals
HomeTeam
Arsenal                1.631579
Aston Villa            0.736842
Bournemouth            1.210526
Chelsea                1.684211
Crystal Palace         1.000000
Everton                1.842105
Leicester City         1.842105
Liverpool              1.736842
Manchester City        2.473684
Manchester United      1.421053
Newcastle United       1.684211
Norwich City           1.368421
Southampton            2.052632
Stoke City             1.157895
Sunderland             1.210526
Swansea City           1.052632
Tottenham Hotspur      1.842105
Watford                1.052632
West Bromwich Albion   1.052632
West Ham United        1.789474

## 2. Í∑∏Î£πÌôî - Multiple Columns
### > groupby Î©îÏÑúÎìú
- Î¶¨Ïä§Ìä∏Î•º Ï†ÑÎã¨
- multi-index objectÎ•º Î¶¨ÌÑ¥
- as_index Îß§Í∞úÎ≥ÄÏàò

In [5]:
league = pd.read_excel('./data/premier_league_games_full.xlsx')
league.head()

,id,league_name,season,HomeTeam,AwayTeam,HomeGoals,AwayGoals
0,1729,England Premier League,2008/2009,Manchester United,Newcastle United,1,1
1,1730,England Premier League,2008/2009,Arsenal,West Bromwich Albion,1,0
2,1731,England Premier League,2008/2009,Sunderland,Liverpool,0,1
3,1732,England Premier League,2008/2009,West Ham United,Wigan Athletic,2,1
4,1733,England Premier League,2008/2009,Aston Villa,Manchester City,4,2

In [6]:
league.groupby(['HomeTeam', 'season'])[['HomeGoals']].sum()

                                   HomeGoals
HomeTeam                season
Arsenal                 2008/2009         31
                        2009/2010         48
                        2010/2011         33
                        2011/2012         39
                        2012/2013         47
...                                      ...
Wigan Athletic          2011/2012         22
                        2012/2013         26
Wolverhampton Wanderers 2009/2010         13
                        2010/2011         30
                        2011/2012         19

[160 rows x 1 columns]

In [7]:
league.groupby(['season', 'HomeTeam'])[['HomeGoals']].sum()

                                HomeGoals
season    HomeTeam
2008/2009 Arsenal                      31
          Aston Villa                  27
          Blackburn Rovers             22
          Bolton Wanderers             21
          Chelsea                      33
...                                   ...
2015/2016 Swansea City                 20
          Tottenham Hotspur            35
          Watford                      20
          West Bromwich Albion         20
          West Ham United              34

[160 rows x 1 columns]

In [8]:
(
    league
    .groupby(['season', 'HomeTeam'], as_index=False)[['HomeGoals']]
    .sum()
    .query("HomeTeam == 'Arsenal'")
)

        season HomeTeam  HomeGoals
0    2008/2009  Arsenal         31
20   2009/2010  Arsenal         48
40   2010/2011  Arsenal         33
60   2011/2012  Arsenal         39
80   2012/2013  Arsenal         47
100  2013/2014  Arsenal         36
120  2014/2015  Arsenal         41
140  2015/2016  Arsenal         31

## 3. Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ Î©ÄÌã∞Ïù∏Îç±Ïä§
- Multi-Indexes are generally created through aggregation operations
- Multi-Indexes are stored as a list of tuples
### > Îç∞Ïù¥ÌÑ∞ Ï°∞Ìöå
- loc/iloc Ï†ëÍ∑ºÏûê Î™®Îëê ÏÇ¨Ïö© Í∞ÄÎä•

In [9]:
agg_league = (
    league
    .groupby(['season', 'HomeTeam'])[['HomeGoals']]
    .sum()
)
agg_league.head()

                            HomeGoals
season    HomeTeam
2008/2009 Arsenal                  31
          Aston Villa              27
          Blackburn Rovers         22
          Bolton Wanderers         21
          Chelsea                  33

In [10]:
agg_league.loc['2008/2009']

                      HomeGoals
HomeTeam
Arsenal                      31
Aston Villa                  27
Blackburn Rovers             22
Bolton Wanderers             21
Chelsea                      33
Everton                      31
Fulham                       28
Hull City                    18
Liverpool                    41
Manchester City              40
Manchester United            43
Middlesbrough                17
Newcastle United             24
Portsmouth                   26
Stoke City                   22
Sunderland                   21
Tottenham Hotspur            21
West Bromwich Albion         26
West Ham United              23
Wigan Athletic               17

In [11]:
agg_league.loc['2008/2009':'2010/2011']

                                   HomeGoals
season    HomeTeam
2008/2009 Arsenal                         31
          Aston Villa                     27
          Blackburn Rovers                22
          Bolton Wanderers                21
          Chelsea                         33
          Everton                         31
          Fulham                          28
          Hull City                       18
          Liverpool                       41
          Manchester City                 40
          Manchester United               43
          Middlesbrough                   17
          Newcastle United                24
          Portsmouth                      26
          Stoke City                      22
          Sunderland                      21
          Tottenham Hotspur               21
          West Bromwich Albion            26
          West Ham United                 23
          Wigan Athletic                  17
2009/2010 Arsenal                         48
          Aston Villa                     29
          Birmingham City                 19
          Blackburn Rovers                28
          Bolton Wanderers                26
          Burnley                         25
          Chelsea                         68
          Everton                         35
          Fulham                          27
          Hull City                       22
          Liverpool                       43
          Manchester City                 41
          Manchester United               52
          Portsmouth                      24
          Stoke City                      24
          Sunderland                      32
          Tottenham Hotspur               40
          West Ham United                 30
          Wigan Athletic                  19
          Wolverhampton Wanderers         13
2010/2011 Arsenal                         33
          Aston Villa                     26
          Birmingham City                 19
          Blackburn Rovers                22
          Blackpool                       30
          Bolton Wanderers                34
          Chelsea                         39
          Everton                         31
          Fulham                          30
          Liverpool                       37
          Manchester City                 34
          Manchester United               49
          Newcastle United                41
          Stoke City                      31
          Sunderland                      25
          Tottenham Hotspur               30
          West Bromwich Albion            30
          West Ham United                 24
          Wigan Athletic                  22
          Wolverhampton Wanderers         30

In [12]:
agg_league.loc[('2008/2009', 'Arsenal')]

HomeGoals    31
Name: (2008/2009, Arsenal), dtype: int64

In [13]:
agg_league.loc[('2008/2009', 'Arsenal'):('2008/2009', 'Bolton Wanderers')]

                            HomeGoals
season    HomeTeam
2008/2009 Arsenal                  31
          Aston Villa              27
          Blackburn Rovers         22
          Bolton Wanderers         21

In [14]:
agg_league.iloc[:4]

                            HomeGoals
season    HomeTeam
2008/2009 Arsenal                  31
          Aston Villa              27
          Blackburn Rovers         22
          Bolton Wanderers         21

In [15]:
agg_league.iloc[-1]

HomeGoals    34
Name: (2015/2016, West Ham United), dtype: int64

---

In [16]:
agg_league = (
    league
    .groupby(['season', 'HomeTeam'])
    .agg({'HomeGoals': ['sum', 'mean']})
)

agg_league.head()

                           HomeGoals
                                 sum      mean
season    HomeTeam
2008/2009 Arsenal                 31  1.631579
          Aston Villa             27  1.421053
          Blackburn Rovers        22  1.157895
          Bolton Wanderers        21  1.105263
          Chelsea                 33  1.736842

In [17]:
agg_league.iloc[0, 0]

31

In [18]:
agg_league.iloc[1, 1]

1.4210526315789473

In [19]:
agg_league.iloc[1, :]

HomeGoals  sum     27.000000
           mean     1.421053
Name: (2008/2009, Aston Villa), dtype: float64

In [20]:
agg_league.loc['2010/2011', ('HomeGoals', )]

                         sum      mean
HomeTeam
Arsenal                   33  1.736842
Aston Villa               26  1.368421
Birmingham City           19  1.000000
Blackburn Rovers          22  1.157895
Blackpool                 30  1.578947
Bolton Wanderers          34  1.789474
Chelsea                   39  2.052632
Everton                   31  1.631579
Fulham                    30  1.578947
Liverpool                 37  1.947368
Manchester City           34  1.789474
Manchester United         49  2.578947
Newcastle United          41  2.157895
Stoke City                31  1.631579
Sunderland                25  1.315789
Tottenham Hotspur         30  1.578947
West Bromwich Albion      30  1.578947
West Ham United           24  1.263158
Wigan Athletic            22  1.157895
Wolverhampton Wanderers   30  1.578947

In [21]:
agg_league.loc['2010/2011', ('HomeGoals', 'mean')]

HomeTeam
Arsenal                    1.736842
Aston Villa                1.368421
Birmingham City            1.000000
Blackburn Rovers           1.157895
Blackpool                  1.578947
Bolton Wanderers           1.789474
Chelsea                    2.052632
Everton                    1.631579
Fulham                     1.578947
Liverpool                  1.947368
Manchester City            1.789474
Manchester United          2.578947
Newcastle United           2.157895
Stoke City                 1.631579
Sunderland                 1.315789
Tottenham Hotspur          1.578947
West Bromwich Albion       1.578947
West Ham United            1.263158
Wigan Athletic             1.157895
Wolverhampton Wanderers    1.578947
Name: (HomeGoals, mean), dtype: float64

### > Î©ÄÌã∞Ïù∏Îç±Ïä§ ÏàòÏ†ï
- ÏàòÏ†ï Î∞©Î≤ï
    1. reset the index level (reset_index Î©îÏÑúÎìú)
    2. swap the index level
    3. drop an index level (droplevel Î©îÏÑúÎìú)
- ‚úÖ Pro Tip
    - It's best to RESET the index and AVOID multi-index dataframe

In [22]:
agg_league.head()

                           HomeGoals
                                 sum      mean
season    HomeTeam
2008/2009 Arsenal                 31  1.631579
          Aston Villa             27  1.421053
          Blackburn Rovers        22  1.157895
          Bolton Wanderers        21  1.105263
          Chelsea                 33  1.736842

In [23]:
# droplevel Î©îÏÑúÎìú
agg_league.droplevel(0, axis=1)

                                sum      mean
season    HomeTeam
2008/2009 Arsenal                31  1.631579
          Aston Villa            27  1.421053
          Blackburn Rovers       22  1.157895
          Bolton Wanderers       21  1.105263
          Chelsea                33  1.736842
...                             ...       ...
2015/2016 Swansea City           20  1.052632
          Tottenham Hotspur      35  1.842105
          Watford                20  1.052632
          West Bromwich Albion   20  1.052632
          West Ham United        34  1.789474

[160 rows x 2 columns]

In [24]:
(
    agg_league
    .droplevel(0, axis=1)
    .loc[:, 'mean']
)
agg_league = agg_league.droplevel(0, axis=1)

In [25]:
# swaplevel Î©îÏÑúÎìú
agg_league.swaplevel()

                                sum      mean
HomeTeam             season
Arsenal              2008/2009   31  1.631579
Aston Villa          2008/2009   27  1.421053
Blackburn Rovers     2008/2009   22  1.157895
Bolton Wanderers     2008/2009   21  1.105263
Chelsea              2008/2009   33  1.736842
...                             ...       ...
Swansea City         2015/2016   20  1.052632
Tottenham Hotspur    2015/2016   35  1.842105
Watford              2015/2016   20  1.052632
West Bromwich Albion 2015/2016   20  1.052632
West Ham United      2015/2016   34  1.789474

[160 rows x 2 columns]

In [26]:
agg_league.swaplevel().loc['Arsenal']

           sum      mean
season
2008/2009   31  1.631579
2009/2010   48  2.526316
2010/2011   33  1.736842
2011/2012   39  2.052632
2012/2013   47  2.473684
2013/2014   36  1.894737
2014/2015   41  2.157895
2015/2016   31  1.631579

In [27]:
# reset_index Î©îÏÑúÎìú
agg_league.reset_index()

        season              HomeTeam  sum      mean
0    2008/2009               Arsenal   31  1.631579
1    2008/2009           Aston Villa   27  1.421053
2    2008/2009      Blackburn Rovers   22  1.157895
3    2008/2009      Bolton Wanderers   21  1.105263
4    2008/2009               Chelsea   33  1.736842
..         ...                   ...  ...       ...
155  2015/2016          Swansea City   20  1.052632
156  2015/2016     Tottenham Hotspur   35  1.842105
157  2015/2016               Watford   20  1.052632
158  2015/2016  West Bromwich Albion   20  1.052632
159  2015/2016       West Ham United   34  1.789474

[160 rows x 4 columns]